body {
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    background-color: aquamarine; 

}

#countButton {
    margin-bottom: 20px;
}

button {
    background-color: black;
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 80%;
}

.lettersDiv .wordsDiv{
    margin: 20px;
}

.container_result {
    margin: 35px;
}


@media (min-width: 768px) {
    body {
    background-color: rgb(240, 134, 151); 
    }
    textarea {
        width: 50%;
    }
    .container_result {
        margin: 70px;
    }
    
}